.container {
    background-color: #95c3f0;
    --clr-button: #7fa7e6;
    --clr-btnfont: #000000;
    --clr-hr: #000000;
    --clr-input: #d8f5fa;
    --clr-answer: #d8f5fa;
    transition: all 250ms ease-in-out;
    border-radius: 25px;
    height: 30em;
}

h1 {
    margin-top: 5%;
    padding-top: 1em;
    margin-bottom: .5em;
    color: var(--clr-h1);
    text-align:center;
}

.operators {
    margin-left: 10%;
    margin-right: 10%;
    text-align:center;
}

.operators .btn{
    border-radius: 15px;
    color: var(--clr-btnfont);
    margin: .5em;
    font-weight: bold;
    background-color: var(--clr-button); 
    border:none;
    width: 4em;
    height: 3em;
}

.operands {
    margin-left: 10%;
}

.operands input {
    background-color: var(--clr-input);
    outline-style: none;
    width: 90%;
    height: 3em;
    border:none;
    border-radius: 10px;
}

.operands label {
    color: var(--clr-label);
    font-weight:bold;
}

.answer {
    text-align: center;
}

#answer {
    width: 55%;
    border: none;
    background-color: var(--clr-answer);
    border-radius: 15px;
    text-align: center;
    font-size: 35px;
}

hr {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    background-color: var(--clr-hr);
}



